.App {
    max-width: 600px;
    margin: 0 auto;
}

.App footer {
    font-size: 14px;
    margin: 10px 0;
    text-align: center;
    color: hsl(277, 8%, 32%);
    text-shadow: #8a45b3;
}

body {
    background-image: url('https://i.ibb.co/KFDknXX/background.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }
  
